<div class="col-12 mb-3">
  <%= form_tag posts_path, method: :get, class: 'boards__searchForm my-auto' do %>
    <%= select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name, params[:prefecture_id]), {prompt: '都道府県で絞り込み', onchange: 'submit(this.form);'} %>
  <% end %>
  <%= form_tag posts_path, class: "d-flex mt-2", method: :get do %>
    <div><%= text_field_tag :search, placeholder="タイトルで検索" %></div>
    <div><%= submit_tag "Search", :title => nil, class: "btn btn-primary btn-sm my-auto" %></div>
  <% end %>
</div>
<% posts.each do |post| %>
  <% if post.status %>
    <div class="col-4 pb-4 text-center">
      <div>
        <div class="card text-center m-0">
          <%= image_tag post.get_post_image %></br>
          <%= post.area.prefecture.name %>
          <div class="card-body mx-auto">
            <p class="card-title font-weight-bold text-center">
              <%= link_to "#{post.title}", post_path(post) %>
            </p>
            <p class="card-text text-center">
              <%= post.comment %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>