<!-- ヘッダー -->
<header class="bg-dark py-4">
  <div class="container px-4 px-lg-5">
    <div class="text-center text-white">
      <h2 class="fw-bolder">投稿一覧</h2>
    </div>
  </div>
</header>
<!-- 投稿一覧を表示する部分 -->
<section class="bg-light pt-5">
  <div class="container px-4 px-lg-5">
    <div class="row">
      <!-- 都道府県で投稿を絞り込み -->
      <%= form_tag posts_path, method: :get, class: "boards__searchForm my-auto" do %>
        <%= select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name, params[:prefecture_id]), {prompt: "都道府県で絞り込み", onchange: "submit(this.form);", class: "form-control mb-3 margin"} %>
      <% end %>
      <%= form_tag posts_path, class: "d-flex", method: :get do %>
        <%= text_field_tag :search, placeholder="投稿タイトルで検索", class: "form-control input-group-prepend ml-lg-5 mb-3 margin mr-0" %>
        <span class="input-group-btn"><%= submit_tag "検索", :title => nil, class: "btn btn-outline-dark" %></span>
      <% end %>
    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <!-- カードを使って投稿を12件ごとにページングして表示 -->
      <% @posts.each do |post| %>
        <div class="col mb-5">
          <%= link_to post_path(post) do %>
          <div class="card mouse-over h-100">
            <!-- 投稿画像を表示 -->
            <%= image_tag post.get_post_image, class: "card-img-top p-2" %>
              <!-- 投稿詳細 -->
              <div class="card-body pt-0 text-dark">
                <!-- 釣行日・時間帯 -->
                <p class="card-text text-left m-0"><%= post.date %> <%= post.time_zone.time_zone %></p>
                <!-- 釣れた魚と釣果数 -->
                <p class="card-text text-left m-0"><%= post.species.name %>:<%= post.catch_number %>匹</p>
                <!-- 投稿タイトル -->
                <p class="card-title h5 font-weight-bold text-left m-0"><u><%= post.title %></u></p>
                <!-- 投稿コメント -->
                <p class="card-text text-left m-0"><%= post.comment %></p>
                <!-- 釣り場の都道府県 -->
                <p class="card-text text-right m-0"><%= post.area.prefecture.name %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <!-- ページネーションのページ選択 -->
      <div class="text-center mx-auto mb-5"><%= paginate @posts %></div>
    </div>
  </div>
</section>