<%= render "layouts/sidebar_left" %>
<div class="col-8 border px-5">
  <h2 class="text-center my-4">投稿詳細</h2>
  <h5 class="text-right my-2">
    <% if @post.bookmarked_by?(current_user) %>
      <%= link_to "ブックマークを外す", post_bookmark_path(@post), class: "btn btn-danger btn-sm", method: :delete %>
    <% else %>
      <%= link_to "ブックマークする", post_bookmarks_path(@post), class: "btn btn-primary btn-sm", method: :post %>
    <% end %>
  </h5>
  <div class="d-flex">
    <div class="col-4">
      <%= image_tag @post.get_post_image, height: "200" %>
    </div>
    <table class="col-8 table table-borderless">
      <tr>
        <th class="text-center" sytle="width: 200px">投稿タイトル</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th class="text-center" style="width: 200px">投稿ユーザー</th>
        <td>
          <div><%= @post.user.name %>さん</div>
          <div class="text-right">
            <% if current_user.id != @post.user.id %>
              <% if current_user.following?(@post.user) %>
                <%= link_to "フォロー外す", user_relationships_path(@post.user.id), class: "btn btn-danger btn-sm", method: :delete %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(@post.user.id), class: "btn btn-primary btn-sm", method: :post %>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <th class="text-center">釣行日・時間帯</th>
        <td><%= @post.date %> <%= @post.time_zone.time_zone %></td>
      </tr>
      <tr>
        <th class="text-center">釣り場</th>
        <td><%= @post.area.name %></td>
      </tr>
      <tr>
        <th class="text-center">主な釣果</th>
        <td><%= @post.species.name %> <%= @post.catch_number %>匹</td>
      </tr>
      <tr>
        <th class="text-center">釣法</th>
        <td><%= @post.fishing_method.name %></td>
      </tr>
      <tr>
        <th class="text-center">投稿者のコメント</th>
        <td><%= @post.comment %></td>
      </tr>
    </table>
  </div>
  <div>
    <p class="text-center">コメント件数：<%= @post.comments.count %></p>
    <% @post.comments.each do |comment| %>
      <div><%= comment.user.name %></div>
      <div><%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %></div>
    <% end %>
  </div>
  <div>
    <%= form_with model: [@post, @comment] do |f| %>
      <%= f.text_area :comment, rows: "5", placeholder: "コメントを入力" %>
      <%= f.submit "送信", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<%= render "layouts/sidebar_right" %>