<%= render "layouts/sidebar_left" %>
<div class="col-8 border px-5">
  <h2 class="text-center my-4"><%= @post.title %></h2>
  <table class="table table-borderless">
    <tr>
      <th class="text-center" style="width: 200px">投稿ユーザー</th>
      <td><%= @post.user.name %>さん</td>
    </tr>
    <tr>
      <th class="text-center">釣行日・時間帯</th>
      <td><%= @post.date %> <%= @post.time_zone %></td>
    </tr>
    <tr>
      <th class="text-center">釣り場</th>
      <td><%= @post.prefecture.name %></td>
    </tr>
    <tr>
      <th class="text-center">主な釣果</th>
      <td><%= @post.species.name %> <%= @post.catch_number %>匹</td>
    </tr>
    <tr>
      <th class="text-center">釣法</th>
      <td><%= @post.fishing_method.name %></td>
    </tr>
  </table>
</div>
<%= render "layouts/sidebar_right" %>