<div class="col-12">
  <style>
    #map {
      height: 300px;
      width: 200px;
    }
  </style>
  <script>
    let map
    function initMap(){
      geocoder = new google.maps.Geocoder()
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: <%= area.latitude %>, lng: <%= area.longitude %>},
        zoom: 11,
      });
      marker = new google.maps.Marker({
        position:  {lat: <%= area.latitude %>, lng: <%= area.longitude %>},
        map: map
      });
    }
  </script>
  <script src="<%= google_api %>" async defer></script>
</div>
<div id="map" class="mx-auto"></div>