<!-- ヘッダー -->
<header class="bg-dark py-4">
  <div class="container px-4 px-lg-5">
    <div class="text-center text-white">
      <h2 class="fw-bolder">釣り場情報</h2>
    </div>
  </div>
</header>
<!-- アラートを表示する -->
<section>
  <div class="container-fluid m-0 p-0">
    <div class="row">
      <%= render "layouts/notifications" %>
    </div>
  </div>
</section>
<!-- 釣り場情報を表示する部分 -->
<section>
  <div class="col-lg-8 offset-lg-2 my-3">
    <div class="row">
      <div class="col-4 text-center my-auto">
        <%= form_with model: @area, class: "row my-2 mx-auto justify-content-center", local: true do |f| %>
          <!-- 釣り場の画像を表示 -->
          <%= image_tag @area.get_image, class: "align-items-center border", height: "200" %>
          <!-- 画像をアップロードボタンを表示 -->
          <%= f.label :image, "画像をアップロード", class: "btn btn-outline-dark btn-sm m-0", style: "width: 200px" %>
          <!-- 元のフォームは非表示 -->
          <%= f.file_field :image, class: "d-none" %>
          <!-- 新しい画像を登録するボタン -->
          <%= f.submit "新しい画像を登録", class: "btn btn-outline-dark my-2" %>
        <% end %>
      </div>
      <div class="col-8">
        <!-- ハンドルネームを表示 -->
        <div>釣り場名</div>
        <div class="px-3 pb-1 border-bottom"><%= @area.name %></div>
        <!-- この釣り場に対しての投稿件数 -->
        <div class="pt-1">投稿数</div>
        <div class="px-3 pb-1 border-bottom"><%= @area.posts.count %>件</div>
        <!-- この釣り場での釣果数 -->
        <div class="pt-1">釣果数</div>
        <div class="px-3 pb-1 border-bottom"><%= @area.posts.sum(:catch_number) %>件</div>
        <!-- この釣り場の評価点 -->
        <div class="pt-1">釣り場の評価</div>
        <div class="px-3"><%= render "public/areas/rate_ave", area: @area %></div>
      </div>
    </div>
  </div>
</section>
<!-- 釣り場に対するコメント、評価 -->
<section>
  <div class="col-lg-8 offset-lg-2 my-3">
    <div class="row">
      <div class="col-4 text-center">
        <!-- GoogleMapの表示 -->
        <%= render "public/areas/map", {google_api: @google_api, area: @area} %>
      </div>
      <div class="col-8">
        <div>
          <div class="text-center my-2 border-bottom">コメント件数：<%= @area.area_ratings.count %></div>
          <!-- コメントを表示 -->
          <% @area.area_ratings.each do |rating| %>
            <!-- コメントをした人の名前 -->
            <div class="px-4"><%= rating.user.name %>さん</div>
            <!-- コメントの内容 -->
            <div class="px-4 mx-3"><%= rating.comment %></div>
            <!-- コメントの投稿日 -->
            <div class="text-right border-bottom px-4"><%= render "public/areas/rate_indiv", rating: rating %><%= rating.created_at.strftime('%Y/%m/%d') %></div>
          <% end %>
        </div>
        <div>
          <!-- ログインしていない場合は入力フォームを表示しない -->
          <% if user_signed_in? %>
            <%= form_with model: @area_rating do |f| %>
              <!-- エリアのidを受け渡す -->
              <%= f.hidden_field :area_id, :value => @area.id %>
              <!-- コメント入力フォーム -->
              <div class="text-center px-3"><%= f.text_area :comment, rows: "5", placeholder: "コメントを入力", class: "mt-3 w-100" %></div>
              <!-- 5段階評価の値を受け渡す -->
              <div id="score" class="px-3">
                <!-- 5段階評価を投稿フォームを表示 -->
                <%= f.label :score, "釣り場の評価を入力", class: "pt-0 col-form-label" %>
                <%= f.hidden_field :score, id: :review_star %>
                <%= render "public/areas/rate_form" %>
              </div>
              <!-- 投稿ボタン -->
              <div class="text-center px-3"><%= f.submit "送信", class: "btn btn-outline-dark w-100" %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 釣り場の釣果をグラフにして表示する部分 -->
<section>
  <div class="row p-3">
    <div class="col-12 col-lg-8 offset-lg-2">
      <!-- グラフを表示 -->
      <%= render "public/areas/chart", {species_name: @species_name, catch_number: @catch_number} %>
    </div>
  </div>
</section>