<div class="col-2 p-0 my-3">
  <div class="sidebar ml-4 bg-dark" style="height: 100%">
    <ul class="m-0 p-0">
      <li><%= link_to "投稿", admin_posts_path, class: "text-light text-decoration-none h4 d-block py-2 text-center my-0", style: "width: 100%" %></li>
      <li><%= link_to "ユーザー", admin_users_path, class: "text-light text-decoration-none h4 d-block py-2 text-center my-0", style: "width: 100%" %></li>
      <li><%= link_to "魚種", admin_species_index_path, class: "text-light text-decoration-none h4 d-block py-2 text-center my-0", style: "width: 100%" %></li>
      <li><%= link_to "釣法", admin_fishing_methods_path, class: "text-light text-decoration-none h4 d-block py-2 text-center my-0", style: "width: 100%" %></li>
      <li><%= link_to "お知らせ", admin_information_index_path, class: "text-light text-decoration-none h4 d-block py-2 text-center my-0", style: "width: 100%" %></li>
      <li><%= link_to "釣り場", admin_areas_path, class: "text-light text-decoration-none h4 d-block py-2 text-center my-0", style: "width: 100%" %></li>
    </ul>
  </div>
</div>