<h2 class="text-center my-4">投稿詳細</h2>
<div class>
  <div class="col-8 offset-2">
    <%= image_tag @user.get_image, height: "200" %>
  </div>
  <table class="col-8 table table-borderless">
    <tr>
      <th class="text-center" sytle="width: 200px">ユーザー名</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th class="text-center">拠点</th>
      <td><%= @user.prefecture.name %></td>
    </tr>
    <tr>
      <th class="text-center" style="width: 200px">投稿数</th>
      <td><%= @user.posts.count %>件</td>
    </tr>
    <tr>
      <th class="text-center">釣果数</th>
      <td><%= @user.posts.sum(:catch_number) %>匹</td>
    </tr>
  </table>
</div>
<div class="row">
  <div class="col-6 text-center border">
    <div class="my-2">投稿一覧</div>
    <% if @user.posts.present? %>
      <% @user.posts.each do |post| %>
        <%= form_with model: post do |f| %>
          <div class="d-flex my-3 justify-content-center align-items-center">
            <div><%= link_to "#{post.title}", post_path(post.id), class: "mx-3" %></div>
            <div><%= f.select :status, [["公開","true"], ["非公開","false"]] %></div>
            <div><%= f.submit "変更", class: "btn btn-success btn-sm my-auto" %></div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      投稿はありません
    <% end %>
  </div>
</div>